section.center data-background="#000"
  h2.white Writing Debuggers in Plain <span class="red">Ruby</span>

section.center
  h2 👋

section.center
  img.inline src=image_path("me.png")
  h2.fragment Genadi Samokovarov

section.center
  h2 ゲナディ・サモコヴァロフ

section.center data-background="#000"
  h2.white ゲナディ・サモコヴァロフ

section.center
  a(href="https://twitter.com/gsamokovarov") twitter.com/gsamokovarov

section.center
  a(href="https://github.com/gsamokovarov") github.com/gsamokovarov

section.center
  a href="https://receipt-bank.com"
    img.inline src="https://www.receipt-bank.com/assets/themes/receipt-bank-2014/images/rb-logo.svg"

section.center data-background="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Bulgaria.svg/2000px-Flag_of_Bulgaria.svg.png"
  h2.white.shadow Bulgaria
  = copyright "Wikipedia", "https://en.wikipedia.org/wiki/Bulgaria"

section.center data-background="https://www.mapsland.com/maps/europe/bulgaria/large-location-map-of-bulgaria.jpg"
  h2.shadow Bulgaria
  = copyright "Wikipedia", "https://en.wikipedia.org/wiki/Bulgaria"

section data-background="https://cdn2.wanderlust.co.uk/media/2637/articles-public-mineral-baths-sofia-bulgaria-dreamstime.jpg"
  h2.white.shadow Sofia
  = copyright "Wanderlust", "https://www.wanderlust.co.uk/content/short-break-guide-to-sofia-bulgaria/"

section data-background="https://cdn2.wanderlust.co.uk/media/2632/magazine-1335.jpg"
  h2.white.shadow Sofia
  = copyright "Wanderlust", "https://www.wanderlust.co.uk/content/short-break-guide-to-sofia-bulgaria/"

section data-background="https://cdn2.wanderlust.co.uk/media/2633/magazine-2328.jpg"
  h2.white.shadow Sofia
  = copyright "Wanderlust", "https://www.wanderlust.co.uk/content/short-break-guide-to-sofia-bulgaria/"

section.center data-background="#FCD846"
  a href="https://balkanruby.com"
    img.inline src=image_path("balkan.svg")

section.center data-background="#000"
  h2.white Writing <span class="red">Debuggers</span> in Plain Ruby!

section.center data-background="#F00" data-background-transition="fade"
  h2.white Debugger

section.center
  .fragment
    p A debugger (or debugging tool) is a computer program that is used to test and debug other programs.
    br
    a href="https://en.wikipedia.org/wiki/Debugger" https://en.wikipedia.org/wiki/Debugger

section.center data-background="#000"
  h2.fragment.white debug.rb

section.center
  h2.fragment 🤚

section.center
  h2 😀
  p Comes built-in with every CRuby installation.

section.center
  h2 😀
  p Written in Pure Ruby!

section.center data-background="#000"
  h2 😀
  p.white Written in Pure Ruby!

section data-background="https://gifimage.net/wp-content/uploads/2017/08/thats-all-folks-gif-2.gif"

section.center data-background="#000"
  h2 👍
  p.white Fact!

section.center
  .fragment
    h2 😀
    p GDB like user-interface.

section.center
  h2 ☹️
  p GDB like user-interface.

section.center
  h2 ☹️
  p Last significant commit from 2013.

section.center
  h2 ☹️
  p Uses Kernel#set_trace_func

section.center data-background="#000"
  h2.fragment.white Kernel#set_trace_func

section.center data-background="#F00"
  h2.fragment.white Post-Mortem Debugging
