.reveal .white { color: #fff; }
.reveal .gray { color: #777; }
.reveal .red { color: #F00; }
.reveal .black { color: #000; }

/* Bump CSS specificity for this particular selector. */
.reveal a.white:not(.image) { color: #fff; }

.reveal .big { font-size: 1.9em; }

.reveal .shadow { text-shadow: 1px 1px 2px #111; }

.reveal pre > code { max-height: none; }
.reveal pre.inline { box-shadow: none; }

.reveal img.inline {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin: 0;
  vertical-align: middle;
}

.reveal a.image { text-decoration: none; }
.reveal a:hover img.inline { background: transparent; border: 0; box-shadow: none; }

.reveal .left { float: left; }
.reveal .right { float: right; }

.reveal .left-aligned-text { margin-left: 30%; text-align: left }

.reveal .hidden { visibility: hidden; }

.reveal .pixel {
  font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: none;
}

.copyright {
  position: fixed;
  background: yellow;
  right: 1em;
  bottom: 1em;
  padding: 0.2em !important;
}

.copyright a { display: block; color: light; font-size: 0.5em; }

pre {
  position: relative;
  font-size: 24px !important; 
  text-align:
  left !important;
}

pre > button {
  position: absolute;
  bottom: 0;
  right: 1em;
  padding: 0.2em;
  background: red;
  color: white;
  border: none;
  font-size: 24px;
}
pre > button:active { transform: translateY(.2em); }
pre > button:disabled { background: gray; pointer-events: none; }

a.navigate-next { position: fixed; top: 1em; right: 1em; }
[contenteditable] { outline: none; }
